$font-size: 1.5em;
$border: 1px solid black;
$bgc: #E6FCFF;

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

    .myCanvas {
        background-color: $bgc;
        border: $border;
        box-sizing: border-box;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .myButton {
            user-select: none;
            background-color: #E6FCFF;
            border: $border;
            font-size: $font-size;
            width: 150px;
            height: 60px;
        }
    }
}