* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  background-color: #E7F9FF;
  font-family: "Gamja Flower", cursive;
  border: none;
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1024px;
  min-width: 490px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .wrapper .flex-item:first-child {
    height: 150px; }
  .wrapper .flex-item:nth-child(2) {
    height: auto; }
  .wrapper .flex-item:last-child {
    height: 100px; }
  .wrapper h2 {
    font-size: 4em;
    text-align: center;
    color: #4B4BFF;
    text-decoration: underline; }
  .wrapper .inp {
    margin-left: 1%;
    margin-bottom: 1%;
    padding-left: 20px;
    border: 2px outset #CAE1F2;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #CAE1F2;
    color: #86A7FF;
    font-size: 3em;
    width: 77%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .wrapper .inp::placeholder {
    color: #86A7FF;
    overflow: hidden; }
  .wrapper .add {
    margin-left: 2%;
    border: 2px outset #CAE1F2;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #CAE1F2;
    color: #86A7FF;
    font-size: 3em;
    width: 19%; }
  .wrapper .list {
    height: auto;
    min-height: 10vh;
    max-height: 65vh;
    overflow: scroll; }
  .wrapper .item {
    width: 96%;
    margin: 10px 0px 5px 1%;
    margin-left: 1%;
    display: flex;
    grid-template-coloumns: 50px 1fr 100px 100px;
    grid-template-rows: 100%;
    list-style-type: none;
    padding-left: 20px;
    border: 2px outset #CAE1F2;
    border-radius: 3px;
    background-color: #CAE1F2;
    color: #86A7FF;
    font-size: 3em;
    align-items: center; }
    .wrapper .item input {
      flex-basis: 30px;
      border: 2px outset #CAE1F2;
      border-radius: 3px;
      box-sizing: border-box;
      color: #86A7FF; }
    .wrapper .item span {
      background-color: transparent;
      cursor: default; }
    .wrapper .item .item-button {
      text-align: right;
      cursor: pointer;
      margin-right: 20px;
      float: right; }
    .wrapper .item .edit {
      background-color: transparent;
      width: 30px;
      height: 30px; }
    .wrapper .item .close {
      background-color: transparent;
      padding-top: 5px;
      width: 30px;
      height: 30px; }
    .wrapper .item .text {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .wrapper .item:hover {
    background-color: #86A7FF; }
    .wrapper .item:hover .text {
      color: #CAE1F2; }
  .wrapper .checked {
    background-color: #86A7FF; }
    .wrapper .checked .text {
      color: #CAE1F2;
      text-decoration: line-through; }
  .wrapper .clear {
    display: none;
    padding: 0px 10px;
    margin-top: 20px;
    margin-left: 1%;
    border: 2px outset #CAE1F2;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #CAE1F2;
    color: #FF6868;
    font-size: 3em; }
