$bg-color: #E7F9FF;
$title-color: #4B4BFF;
$font-color: #86A7FF;
$inp-color: #CAE1F2;
$red-color: #FF6868;
$font: 'Gamja Flower', cursive;

* {
    -webkit-user-select: none;
 /* Chrome all / Safari all */

 -moz-user-select: none;
 /* Firefox all */

 -ms-user-select: none;
 /* IE 10+ */

    user-select: none; 
    background-color: $bg-color;
    font-family: $font;
    border: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1024px;
    min-width: 490px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .flex-item:first-child {
        height: 150px;
    }
    .flex-item:nth-child(2) {
        height: auto;
    }
    .flex-item:last-child {
        height: 100px;
    }

    h2 {
        font-size: 4em;
        text-align: center;
        color: $title-color;
        text-decoration: underline;
    }
    
    .inp {
        margin-left: 1%;
        margin-bottom: 1%;
        padding-left: 20px;
        border: 2px outset $inp-color;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: $inp-color;
        color: $font-color;
        font-size: 3em;
        width: 77%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .inp::placeholder {
        color: $font-color;
        overflow: hidden;
    }

    .add {
        margin-left: 2%;
        border: 2px outset $inp-color;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: $inp-color;
        color: $font-color;
        font-size: 3em;
        width: 19%;
        
    }
    
    .list {
        height: auto;
        min-height: 10vh;
        max-height: 65vh;
        overflow: scroll;
    }

    .item {
        width: 96%;
        margin: 10px 0px 5px 1%;
        margin-left: 1%;
        display: flex;
        grid-template-coloumns: 50px 1fr 100px 100px;
        grid-template-rows: 100%;
        list-style-type: none;
        padding-left: 20px;
        border: 2px outset $inp-color;
        border-radius: 3px;
        background-color: $inp-color;
        color: $font-color;
        font-size: 3em;
        align-items: center;

        input {
            flex-basis: 30px;
            border: 2px outset $inp-color;
            border-radius: 3px;
            box-sizing: border-box;
            color: $font-color;
        }
        span {
            background-color: transparent;
            cursor: default;
        }
        .item-button {
            text-align: right;
            cursor: pointer;
            margin-right: 20px;
            float: right;
        }
        .edit {
            background-color: transparent;
            width: 30px;
            height: 30px;
        }
        .close {
            background-color: transparent;
            padding-top: 5px;
            width: 30px;
            height: 30px;
        }
        .text {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .item:hover {
        background-color: $font-color;
        .text {
            color: $inp-color;
        }
    }
    
    .checked {
        background-color: $font-color;
        .text {
            color: $inp-color;
            text-decoration: line-through;
        }
    }

    .clear {
        display: none;
        padding: 0px 10px;
        margin-top: 20px;
        margin-left: 1%;
        border: 2px outset $inp-color;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: $inp-color;
        color: $red-color;
        font-size: 3em;
    }
}